.navtop {
    text-align: center;

    &_title {
        text-align: center;
        font-size: 23px;
        color: #8c7db0;
    }
}

.comingsoon {
    color: red;
    font-size: 20px;
    text-align: center;
}