.difficulte {
    text-align: center;
    display: flex;

    &_bloc {
        width: 520px;
        margin: auto;
        margin-top: 300px;
        // padding-right: 160px;

        &_title {
            text-align: center;
            color: #8c7db0;
        }

        &_btn {
            text-decoration: none;
            color: black;
            font-size: 20px;
            width: 120px;
            margin: auto;
            margin-bottom: 10px;
            padding: 5px 0px;
            border-radius: 7px;
            font-weight: 500;
            box-shadow: 0px 0px 10px -3px black;
            transition-duration: 0.2s;
            cursor: pointer;

            &_easy {
                background-color: rgb(71, 207, 71);
            }

            &_medium {
                background-color: rgb(253, 186, 60);
            }

            &_hard {
                background-color: #fa1e4e;
            }
        }

        &_description {
            color: #8c7db0;
            font-size: 18px;
            width: 520px;
            height: 50px;
            margin: auto;
            margin-top: 20px;

            &_texte {
                &_easy {
                    margin-top: 30px;
                    margin-bottom: -96px;
                }

                &_medium {
                    margin-bottom: -96px;
                }
            }
        }
    }

}

.display {
    display: flex;
}

.difficulte_bloc_btn:hover {
    transform: scale(1.05);
}

.content {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.content.visible_easy {
    opacity: 1;
    margin-top: 30px;
    margin-bottom: -96px;
}

.content.visible_medium {
    opacity: 1;
    margin-bottom: -96px;
}

.content.visible_hard {
    opacity: 1;
}