.titlemain {
    font-size: 25px;
    color: #8c7db0;
    margin-bottom: 3px;

    &_line {
        border: 1px solid #8c7db0;
        width: 140px;

        &_bloc {
            padding: 20px 0px;
        }
    }
}