.btn {
    display: flex;
    justify-content: space-around;

    &_bloc {
        background: #fa1e4e;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        transition-duration: 0.3s;

        &_link {
            text-decoration: none;
            color: black;
            border-radius: 10px;

            &_icon {
                font-size: 25px;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }

    &_bloc:hover {
        background-color: #fa1e4ed3;
        transform: scale(1.03);
    }
}