.nav {
    width: 190px;
    box-shadow: 2px 0px 5px 0px #fa1e4e;
    height: 100%;
    background: #191c20;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}