.header {
    color: #fa1e4e;
    border-bottom: 1px solid #fa1e4e;
    box-shadow: 0px 5px 5px 0px #fa1e4e;
    display: flex;
    padding: 20px 0px;
    margin-bottom: 6px;
    background: #191c20;

    &_link {
        text-decoration: none;
        color: #fa1e4e;
        margin: auto;

        &_title {
            margin: auto;
            font-size: 40px;
            padding-left: 82px;
        }
    }

    &_user {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        transition-duration: 1s;

        &_link {
            width: 30px;
            height: 30px;
            position: absolute;
        }
    }

    &_user:hover {
        transform: rotate(360deg);
    }
}