.difficulte {
    text-align: center;
    display: flex;

    &_bloc {
        width: 500px;
        margin: auto;
        margin-top: 300px;
        margin-left: 535px;

        &_title {
            text-align: center;
            color: #8c7db0;
        }

        &_btn {
            text-decoration: none;
            color: black;
            font-size: 20px;
            width: 120px;
            margin: auto;
            margin-bottom: 10px;
            padding: 5px 0px;
            border-radius: 7px;
            font-weight: 500;
            cursor: pointer;

            &_easy {
                background-color: rgb(71, 207, 71);
            }

            &_medium {
                background-color: rgb(253, 186, 60);
            }

            &_hard {
                background-color: #fa1e4e;
            }
        }
    }

}

.display {
    display: flex;
}